@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loc {
  height: 3460px;
  width: 800px;
  min-width: 821.984px;
}


