@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navbar-container {
  display: flex;
  background-color: lightblue;
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}